.home_page{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.map_container{
    flex: 1;
    height: '100%';
    width: '100%';
}

.side_bar{
    width: 30%;
    padding: '1rem';
    border-left: '1px solid #ccc';
    background-color: '#f9f9f9';
}

.home_button{
    position: absolute;
    z-index: 1000;
    margin-left: 93%;
    margin-top: 2%;
    border-radius: 15px;
    border: 2px solid black;
    opacity: .8;
}

.home_img{
    height: 40px;
    width: 40px;
    opacity: 1.0;

}
.map_container {
    height: 100vh;
    width: 100%;
    position: relative;
  }

.marker {
background-image: '/user_location.png';
width: 32px;
height: 32px;
background-size: contain;
background-repeat: no-repeat;
}