.sidebar {
    margin-top: 4%; /*adjust or delete to not interfere with top nav-bar.*/
    height: 80%;
    width: 33%;
    padding: 5px 0px;
    text-align: center;
    background-color: var(--blue-grey-dark);
    color: var(--white);
    border-radius: 10px;
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: 1000;
}
.sidebar .closebutton{
    background-color: var(--grey-light);
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 10px;
}
.sidebar .closebutton:hover{
    background-color: var(--grey-med);
    cursor: pointer;
}

.sidebar .image {
    /*image dimensions*/
    margin: 10px;
    height: 200px;
    min-width: 240px;
    /*background-image: url(../images/goodBackground.jpg);
    */background-size: cover;
    border-radius: 8px;
}

.sidebar .image .bell{
    /*background-image: url(../images/BellFront.jpg);*/
    margin: 10px;
    height: 200px;
    min-width: 240px;
    background-size: cover;
    border-radius: 8px;
}

.sidebar .image .ham{
    background-image: url(../images/CunninghamFront.jpg);
    margin: 10px;
    height: 200px;
    min-width: 240px;
    background-size: cover;
    border-radius: 8px;
}

.sidebar .h1{
    color: var(--white);
    /*background-color: var(--blue-grey-dark);*/
}

.sidebar .interior_button{
    margin: auto;
    padding: 5px 20px;
    width: 150px;
    background-color: var(--blue-grey-light);
    transition-duration: .5s;
    text-decoration: none;
    color: white;
}
.sidebar .interior_button:hover{
    background-color: var(--blue-grey-med);
    transition-duration: .5s;
    cursor: pointer;
}
.sidebar .body{
    margin: 10px;
    padding: 10px 10px;
    height: 25%;
    background-color: var(--blue-grey-med);
    border-radius:8px;
    overflow: auto;
}
.sidebar .rooms_body{
    height: 400px;
    overflow: auto;
}
.sidebar .room_items{
    display: table;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    border-color: white;
    border-width: 10px;
    background-color: var(--blue-grey-med);
}
.sidebar .room_items:hover{
    background-color: var(--blue-grey-light);
    cursor: pointer;
}